/* NOSOTROS */

main {
    .texto__titulo {
        @include estilosCaja;
        h1 {
            @include estilosTitulo; 
        }
    }
    .nosotros__uno {
        width: 80%;
        margin: 1rem auto;
        align-items: center;
        border-radius: 5px;

        .nosotros__texto {
            padding: 2rem;
            p {
                padding-top: 1rem;
                text-align: justify;
            }
            strong {
                font-size: 2rem;
            }
        }
        .nosotros__imagenes {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (min-width:900px) {
    main{

        .texto__titulo{
            h1 {
                font-size: 3rem;
            }
        }
        .nosotros__uno {
            display: flex;
            flex-direction: row;
            height: 500px;

            .nosotros__texto {
                width:50%;

                p{
                    font-size: 15px;
                }
            }

            .nosotros__imagenes {
                width: 50%;
                height: 500px;
            }
        } 
    }
}