/* RESERVA */

main{
    .reserva__formulario {
        min-height: 90vh;
        height: 100%;
        width: 100%;

        .titulo__reserva {
            @include estilosCaja;

            h1 {
                @include estilosTitulo;
            }
        }
        .formulario__reserva{
            margin: 20px 5px;
            display: grid;
            justify-content: center;
            align-content: center;
            text-align: center;

            .formu__label {
                margin:5px;
                font-size: 0.8em;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            .formu__input {
                border: none;
                border-bottom: 2px solid map-get($colores , colorP );
                border-radius: 20px;
                padding: 7px;
                margin-top: 5px;
            }
            .botones {
                margin: 5px;
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .btn {
                    text-transform: uppercase;
                    font-size: 1em;
                    margin-top: 2vh;
                    padding: 0.6vh;
                    text-align: center;
                    justify-self: center;
                    border-radius: 5px;
                    color: white;
                    background-color: map-get($colores , colorP );
                }

                .boton__limpiar {
                    @extend .btn;
                    color: map-get($colores , colorP );
                    background-color: map-get($colores , colorS );
                    border-color: map-get($colores , colorP );
                }
            }
        }
    }
}

@media screen and (min-width:900px){
    main{
        .reserva__formulario {
            .titulo__reserva{
                font-size: 3rem;
            }
    
            .formulario__reserva{
                .formu__label {
                    font-size: 1em;
                }
                .formu__input {
                    width: 400px;
                }
                .botones {
                    .btn {
                        cursor: pointer;
                        width: 5rem; 
                        &:hover {
                            background-color: map-get($colores , colorS );
                            color: map-get($colores , colorP );
                            border-color: map-get($colores , colorP );
                        }
                    }

                }
                
            }
        }
    }
}