/* RESTAURANTE */

main {
    .texto__titulo {
        @include estilosCaja;
        h1 {
            @include estilosTitulo
        }
    }
    .container {
        .cont1{
            .restaurante__texto1 {
                border-bottom: 2px solid map-get($colores , colorT );
            }
        }
    }
}

@media screen and (min-width:992px){
    main {
        .texto__titulo {
            h1 {
                font-size: 45px;
            }
        }
        .container {
            .cont1{
                .restaurante__texto1 {
                    border-left: 2px solid map-get($colores , colorT );
                    border-bottom: none;
                }
            }
            .cont2{
                .restaurante__texto2 {
                    border-right: 2px solid map-get($colores , colorT );
                } 
            }
        }
    }
}
